body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

address {
  display: block;
  color: white;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-left: 15px;
}

a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 600;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0;
  opacity: 0;
  background: #2196f3;
  border-radius: 2px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus::after, .header-link:hover::after {
  opacity: 1;
  color: #2196f3;
}

.header-link-underline::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0;
  opacity: 1;
  background: #2196f3;
  border-radius: 2px;
}

.header-link-contacts:not(:last-child) {
  margin-left: auto;
  margin-right: 15px;
}

.header-link-tel {
  letter-spacing: 0.02em;
  color: #757575;
  fill: currentColor;
}

.link-mail-logo {
  margin-right: 10px;
  fill: currentColor;
}

.header-logo-tel {
  margin-right: 10px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.header-nav:hover {
  color: #2196f3;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-contacts-container {
  margin-left: 305px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
  margin-left: 15px;
  margin-right: 93px;
}

.logo-color {
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
}

.logo-color-footer {
  color: white;
  font-size: 26px;
  line-height: 1.19;
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.link-mail-logo {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero-section {
  height: 600px;
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img_hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_hero.jpg");
}

.hero-header {
  width: 696px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button-main {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.hero-button-color {
  font-family: inherit;
  background: #2196f3;
  font-weight: bold;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-color:focus, .hero-button-color:hover {
  color: #000000;
}

.hidden-header {
  position: absolute;
  visibility: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.benefits-section {
  display: block;
  padding-bottom: 94px;
  padding-top: 94px;
}

.benefits-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  width: 270px;
  margin-right: 0px;
  padding-right: 0px;
}

.benefits-item {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.benefits-item:hover, .benefits-item:focus {
  display: block;
  fill: #2196f3;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 0px;
}

.benefits-icons {
  width: 70px;
  height: 70px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px 25px 100px;
}

.benefits-element:not(:last-child) {
  padding: 0px;
}

.classes-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.classes-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  margin-right: 30px;
}

.classes-element:not(:last-child) {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.classes-section {
  padding-bottom: 94px;
}

.classes-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.classes-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-top: 27px;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
}

.team-member-photo {
  width: 270px;
}

.team-list {
  margin-top: 0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list:not(:last-child) {
  margin-right: 30px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.team-member-name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-member-name:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  fill: #ffffff;
  background-color: #2196f3;
  color: #212121;
}

.team-member-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.team-member-icon-link {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: white;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-icon-link:focus, .team-member-icon-link:hover {
  border-radius: 50%;
  fill: white;
  background-color: #2196f3;
  color: #2196f3;
  border: #2196f3;
}

.team-member-icon {
  height: 44px;
  margin-right: 10px;
}

.team-member-icon:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: white;
  background-color: #2196f3;
  color: #2196f3;
}

.team-member {
  width: 270px;
  height: 428px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.team-member:hover {
  -webkit-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  margin-top: 94px;
  margin-bottom: 94px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.clients-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px;
  margin-right: 30px;
  padding: 0px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-logo-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px;
  border-radius: 4px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo-class:focus, .clients-logo-class:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

footer {
  background-color: #2f303a;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-address-container {
  width: 231px;
  margin-right: 70px;
}

.footer-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}

.footer-social-networks {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
  margin-right: 93px;
}

.footer-icon {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0px;
  padding-top: 20px;
  list-style: none;
}

.footer-icon-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: white;
  border-radius: 50%;
  background-size: 20px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:focus, .footer-icon-link:hover {
  background-color: #2196f3;
}

.footer-subscribe-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.footer-subsribe-button {
  padding-left: 29px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 1736px;
  background: #2196f3;
  border-radius: 4px;
  margin-left: 12px;
}

.footer-subsribe-button:hover, .footer-subsribe-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-svg {
  padding-left: 10px;
}

.footer-subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-subscribe-input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2785px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-networks-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.logo-footer {
  display: inline-block;
  margin-left: 15px;
  margin-right: 0;
  margin-bottom: 20px;
}

.contacts-footer {
  padding-left: 15px;
  margin: 0;
}

.footer-mail {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 9px;
}

.contacts-footer {
  display: inline-block;
}

.examples-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples-works-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.examples-works-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.examples-works-item:nth-child(3n) {
  margin-right: 0px;
}

.examples-block {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.examples-block::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-block-text {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1, 56;
  letter-spacing: 0.03em;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.examples-link {
  width: 370px;
  height: 404px;
  border: 2px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:focus, .examples-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-link:focus .examples-block:before,
.examples-link:hover .examples-block:before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.examples-link:focus .examples-block-text,
.examples-link:hover .examples-block-text {
  position: absolute;
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-works {
  margin-top: 0;
  margin-bottom: 0;
}

.examples-description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  padding-top: 4px;
  margin: 0;
  color: #2f303a;
}

.examples-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.examples-description-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  text-transform: none;
}

.categories-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.classes-list {
  position: relative;
}

.categories-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  margin-right: 8px;
  margin-top: 0px;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-button:focus, .categories-button:hover {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 611px;
  margin-top: 0px;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: opacity 0.3;
          transform: opacity 0.3;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0%;
  padding-top: 3px;
  top: 8px;
  right: 8px;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover {
  fill: #2196f3;
}

.form {
  position: absolute;
  padding-left: 40px;
  padding-top: 75px;
  width: 448px;
  height: 342px;
}

.form-header {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  padding-left: 40px;
}

.checkbox-agreement {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 36.38px;
  padding-bottom: 30px;
}

.checkbox-agreement-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.form-button-submit {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: #2196f3;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  border: none;
  margin-left: 124px;
  top: 40px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-submit:hover, .form-button-submit:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.input {
  position: block;
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 0px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus, .input:hover {
  border: 1px solid #2196f3;
}

.input:focus ~ .icon,
.input:hover ~ .icon {
  fill: #2196f3;
}

.form-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1, 2;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
}

.form-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-placeholder:hover {
  border: 1px solid #2196f3;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-agreement-link {
  display: inline-block;
}

.form-button {
  padding-bottom: 40px;
}

.form-container {
  position: relative;
  height: 58px;
  padding-bottom: 10px;
}

.icon {
  display: inline-block;
  top: 32px;
  left: 11px;
  position: absolute;
  fill: #212121;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-container {
  position: relative;
}

.checkbox-icon {
  position: absolute;
  top: 0%;
  left: 0%;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-agreement:hover > .checkbox-icon {
  border: 2px solid #2196f3;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-position: center;
  border: 2px solid #2196f3;
  background-origin: content-box;
}
/*# sourceMappingURL=main.css.map */